
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <a href="~/Home/SampleOriginal">/Home/SampleOriginal</a>
    </div>
    <div>
        <a href="~/Home/SampleByPartialView">/Home/SampleByPartialView</a>
    </div>
    <div>
        <a href="~/Home/SampleByHtmlHelper">/Home/SampleByHtmlHelper</a>
    </div>
</body>
</html>
